<div class="row">
    <div class="col-sm-12">
        <img style="background-image: url('http://www.waterwise.com/productcart/pc/images/page_construction.png'); background-size: cover;" width="100%" src="http://www.waterwise.com/productcart/pc/images/page_construction.png">
    </div>
</div>
