<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<div class="banner">-->
<!--<ul>-->
<!--<li><img src="https://photos-5.dropbox.com/t/2/AABv04Rap2sY3njysL1VMsfwFcwuS6uqSuv90LqbqShjCg/12/78475193/png/32x32/1/_/1/2/Screen%20Shot%202015-10-18%20at%205.16.30%20PM.png/EKbi8jwYFiACKAI/xyBKEHaV5zShNqoiQj7dyFzdIHmQsGTTotCCJrlGet0?size=1280x960&size_mode=2"></li>-->
<!--<li><img src="https://photos-5.dropbox.com/t/2/AAAi-usNmVv12YXEZdOVjPGga3JQ5_PdDCLhw15lRbvzKA/12/78475193/png/32x32/1/_/1/2/Screen%20Shot%202015-10-18%20at%205.17.32%20PM.png/EKbi8jwYFiACKAI/s811bOW76gRYlo1gUkouRVQDg8slvAC5IwNKoGnm9cE?size=1280x960&size_mode=2"></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<script>-->
//    $(function() {
//        $('.banner').unslider();
//    });
<!--</script>-->
<div class="row">
    <div class="col-sm-12">
        <img style="background-image: url('http://www.waterwise.com/productcart/pc/images/page_construction.png'); background-size: cover;" width="100%" src="http://www.waterwise.com/productcart/pc/images/page_construction.png">
    </div>
</div>
