<!DOCTYPE html>
<html>

<head>
    <title>JJCB Portfolio</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link data-turbolinks-track="true" href="/assets/application-f7aa79b389eed3447dbd88f8dcc0b59e.css" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="/assets/application-4fba09a36c46587a0f07211966615115.js"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="Z/8MTVhDcf7Kkz8qN312YuX4IjZsDjX/IWwCsIuVXYk=" name="csrf-token" />
</head>

<body>
<script>
    $(function(){
        $("#welcomeMessage").typed({
            strings: ["Welcome. ^1500", "I'm Josh Brown.", "I love to create meaningful customer experiences."],
            typeSpeed: 0,
            startDelay: 3000,
            loop: true,
            loopCount: 5,
            showCursor: false
        });
    });
</script>
<div class="row" style="position:relative; margin-bottom: 0">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="container">
                <h3 id="welcomeMessage" class="text-center"></h3>
            </div>
        </div>
    </div>
</div>
<div class="row" style="position:relative; margin-top:0;">
    <div class="col-sm-12">
        <div class="jumbotron" id="secondJumbo" style="height: 400px;">
            <div class="container">
                <p><a class="btn btn-default btn-lg" id="seeWork" href="/portfolio" role="button">View my Work</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>


