// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav {
    a {
        color: #5a5a5a;
        font-size: 12px;
        font-weight: bold;
        padding: 20px;
        text-transform: uppercase;
    }

    li {
        display: inline;
    }
}

.jumbotron {
    background: image-url("pexels-photo.jpg") no-repeat;
    background-size: cover;
    height: 750px;
    h3 {
        color: whitesmoke;
    }
    margin-bottom: 0!important;
}

#firstJumbo {
    position:relative;

    h3 {
        font-family: 'Special Elite', sans-serif;
    }
}

#secondJumbo {
    .jumbotron {
        background: image-url("blackwhitedesk.jpg") no-repeat;
        background-size: cover;
    }
}

#seeWork {
    color: white;
    float: none;
    font-weight: 200;
    background:transparent;
    border-radius: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 175px;
}

#release-announcement {
    background: image-url("wood-blocks.jpg") no-repeat;
    background-size: cover;
    p {
        font-size: 18px;
        padding-top: 10px;
        display: inline;
        text-align: center;
    }
    a {
        color: #fff;
    }
    height: 40px;
}
